@media screen and (max-width: 480px) {
  .ourstatics {
    height: 100%;
    justify-content: center;
  }

  #amazinggimg {
    height: auto;
    background-size: cover;
  }

  .amzingdance {
    height: 100%;
  }

  #sectionamazing img {
    width: 100%;
  }

  #amazingtital {
    font-size: 20px;
    margin-left: 0;
    margin-top: 60px;
  }

  #amazingdiscription {
    width: 100%;
    margin-top: 10px;
    margin-left: 12px;
    padding: 11px;
  }

  .amazingbtn {
    padding: 5px 11px;
    width: 68px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .bestdance {
    height: 100%;
  }

  #sectionbestdance img {
    width: 100%;
  }

  #bestdancetital {
    font-size: 20px;
    margin-left: 0;
    margin-top: 60px;
  }

  #bestdancediscription {
    width: 100%;
    margin-top: 0;
    margin-left: 12px;
    padding: 11px;
  }

  .bestdancebtn {
    padding: 5px 14px;
    width: 68px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 40px;
  }

  #bestdancegimg {
    height: auto;
    background-size: cover;
  }

  #ourstatetital {
    font-size: 23px;
    padding-top: 14px;
  }

  #ourstatediscription {
    width: 100%;
    padding-top: 10px;
    font-size: 12px;
  }

  #ourstatesection {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .statesevnum1 {
    font-size: 20px;
  }

  #ourstatesection {
    height: 100px;
  }

  #hertbeattital {
    color: white;
    padding-top: 28px;
    font-family: "Oswald";
    font-size: 22px;
    margin-bottom: 145px;
  }

  #hertbeatdiscription {
    width: 100%;
    font-size: 13px;
    margin-top: 28px;
  }

  .hertbeatsimon {
    background-size: cover;
    height: 100%;
  }

  .subscribesec {
    height: 100%;
    width: 100%;
  }

  #subscribetital {
    font-size: 30px;
  }

  #subscribediscription {
    font-size: 14px;
    padding-top: 25px;
    width: 90%;
  }

  #subscribeform {
    display: block;
    padding-top: 22px;
    margin-bottom: 10px;
  }

  #subsinputbtn {
    padding: 8px 37px;
    padding-left: 37px;
    text-align: start;
    padding-left: 12px;
    font-size: unset;
    border-radius: 3px;
  }

  .subssecbtn {
    padding: 3px 50px;
    border-radius: 3px;
    margin-top: 5px;
    text-align: center;
  }

  .subssecbtn:active {
    background-color: black;
    transform: scale(1.1);
    border-radius: 3px;
  }

  /* ///////////////////////// */
  /* ///////////////////////////// */
  /* /////////////////////////// */
  footer {
    height: 100%;
    align-items: flex-start;
  }

  .footerr {
    flex-direction: column;
    height: 100%;
    text-align: center;
    align-items: center;
    margin: 15px;
    margin-bottom: 40px;
  }

  #musicologysec {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .discriptionfootsec {
    padding-top: 10px;
    width: 100%;
  }

  #iconfooter {
    padding-top: 8px;
    height: 40px;
  }

  .footlinklist ul {
    display: flex;
    gap: 10px;
  }

  .footlinklist ul li a {
    word-wrap: break-word;
    display: inline-block;
  }

  .footlinklist ul li {
    width: 100%;
  }

  ul a {
    padding-right: 0;
  }
}

@media screen and (max-width: 355px) {
  .footlinklist ul {
    display: block;
  }
}
