@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* !utilitis */

.flex {
  display: flex;
}
.buttonn {
  background-color: black;
  padding: 8px 53px;
  border-radius: 4px;
  color: white;
  font-weight: 900;
  font-family: oswald;
}

/* !navbar */

#navbar {
  background-color: #282828;
  justify-content: space-between;
  height: 52px;
}
nav ul li {
  list-style: none;
  font-family: oswald;
}
#navlogo {
  padding-left: 40px;
}
#navlogo img {
  width: 82px;
}
#navsearch {
  padding: 17px 29px;
}
#navsearch img {
  width: 17px;
}
ul {
  padding: 16px;
}
ul a {
  color: white;
  padding-right: 30px;
  text-decoration: none;
}

/* !hover */

#navlink ul li:hover {
  transform: scale(1.1);
  transition: 0.2s;
  color: #ff6300;
}
#navsearch:hover {
  transform: scale(1.3);
  transition: 0.2s;
}
.subscribe:hover {
  background-color: #d1570a;
  transform: scale(1.1);
  transition: 0.2s;
}
.hoverbtn:hover {
  background-color: black;
  transform: scale(1.1);
  transition: 0.2s;
}
.subssecbtn:hover {
  background-color: black;
  transform: scale(1.1);
  transition: 0.2s;
  border-radius: 3px;
}
.iconfootsocial:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.footlinklist ul li:hover{
  transform: scale(1.1);
  transition: 0.2s;
}
.footlinklist ul li a:hover{
  color: #ff6300;
}

/* !header */

#headerr {
  background-image: url(../images/navbarbackk.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  width: 100%;
}
#tital {
  font-size: 62px;
  padding-left: 51px;
  padding-top: 162px;
  font-family: oswald;
}
#discription {
  font-size: 14px;
  width: 403px;
  padding-left: 56px;
  margin-top: 12px;
}
.subscribe {
  width: 182px;
  margin-top: 17px;
  margin-left: 55px;
  background-color: #ff6300;
  padding: 8px 43px;
}

/* !dancetour section */

.dancetour {
  background-color: #ff6300;
  height: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-bottom: 60px;
}
.dancetour img {
  position: absolute;
  right: 163px;
  width: 846px;
  opacity: 0.8;
}

/* ?dancetourtext */

#dancetourtext {
  text-align: center;
  color: white;
  z-index: 1;
}
#dancetourtext1 {
  margin-top: 68px;
  font-size: 45px;
  font-weight: 900;
  font-family: oswald;
}
#dancetourtext2 {
  margin-top: 19px;
  width: 675px;
}

/* ?dancetour windows */

.dancetourwindows {
  height: 339px;
  width: 100%;
  justify-content: center;
  gap: 43px;
  margin-top: 77px;
}
.windowtital {
  text-align: center;
  padding-top: 18px;
  font-size: 27px;
  font-family: oswald;
}
.windowdescription {
  text-align: center;
  margin-top: 5px;
}
.windowtext {
  background-color: #282828;
  color: white;
  height: 114px;
  width: 251px;
}

/* *dance tour window 1 */

#dancetourwindow1 {
  width: 25%;
  border-radius: 3px;
  z-index: 1;
}
#window1photo {
  background-image: url(../images/dance-tour1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 219px;
}

/* *dance tour window 2 */

#dancetourwindow2 {
  width: 25%;
  border-radius: 3px;
}
#window2photo {
  background-image: url(../images/dance-tour2.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 219px;
}

/* *dance tour window 3 */

#dancetourwindow3 {
  width: 25%;
  border-radius: 3px;
}
#window3photo {
  background-image: url(../images/dance-tour3.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 219px;
}

/* !pricing section */

.pricingsec {
  background-color: #2c2c2c;
  height: 700px;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#imgpricing1 img {
  position: absolute;
  left: -25%;
  top: -38%;
  width: 647px;
  opacity: 0.1;
}
#imgpricing2 img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 647px;
  opacity: 0.1;
}

/* ? pricingsec text */

#pricingsectext {
  text-align: center;
  color: white;
  z-index: 1;
}
#pricingsectext1 {
  margin-top: 68px;
  font-size: 45px;
  font-weight: 900;
  font-family: oswald;
}
#pricingsectext2 {
  margin-top: 10px;
  width: 675px;
}

/* ?pricingsec windows */

.pricingsecwindows {
  height: 339px;
  width: 100%;
  justify-content: center;
  gap: 43px;
  margin-top: 77px;
  z-index: 1;
}
.pricingphoto {
  background-image: url(../images/ricing-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 95px;
  background-position: center;
  margin-top: 43px;
}
.pricingwindowtital {
  text-align: center;
  padding-top: 28px;
  font-size: 26px;
  color: white;
  font-weight: 900;
  font-family: oswald;
}
.pricingwindowdescription {
  text-align: center;
  margin-top: 15px;
  color: white;
  font-size: 11px;
}
.pricebtn {
  background-color: #2c2c2c;
  padding: 15px 78px;
  border-radius: 4px;
  color: white;
  font-weight: 900;
  width: 221px;
  margin-top: 26px;
  margin-left: 15px;
}

/* *pricingsec window 1 */

#pricingsecwindow1 {
  background-color: #d1570a;
  height: 333px;
  width: 25%;
  border-radius: 3px;
}

/* *pricingsec window 2 */

#pricingsecwindow2 {
  background-color: #d1570a;
  height: 333px;
  width: 25%;
  border-radius: 3px;
}

/* *pricingsec window 3 */

#pricingsecwindow3 {
  background-color: #d1570a;
  height: 333px;
  width: 25%;
  border-radius: 3px;
}

/* !Amazing dance section */

.amzingdance {
  height: 690px;
}
.amazingbtn {
  background-color: #2c2c2c;
  padding: 8px 88px;
  border-radius: 4px;
  color: white;
  width: 253px;
  margin-top: 55px;
  margin-right: 71px;
  z-index: 1;
}

/* ?amazingimg */

#amazinggimg {
  background-image: url(../images/amzingdance-section.png);
  height: 100%;
  background-repeat: no-repeat;
  width: 50%;
  background-size: contain;
}

/* ?sectionamazing */

#sectionamazing {
  background-color: #ff6300;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#sectionamazing img {
  position: absolute;
  width: 448px;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}
#sectionimg2 img {
  position: absolute;
  width: 511px;
  top: 0px;
  right: 0;
  opacity: 0.3;
}

/* *amazing tital */

#amazingtital {
  font-weight: bold;
  color: white;
  font-size: 40px;
  font-family: oswald;
  margin-left: -67px;
  z-index: 1;
}

/* *amazing discription */

#amazingdiscription {
  z-index: 1;
  color: white;
  width: 70%;
  text-align: start;
  margin-top: 12px;
  margin-left: 18px;
}

/* !Best dance section */

.bestdance {
  height: 688px;
  display: flex;
}
.bestdancebtn {
  background-color: #2c2c2c;
  padding: 8px 88px;
  border-radius: 4px;
  color: white;
  width: 253px;
  margin-top: 55px;
  margin-right: 16px;
  z-index: 1;
  font-family: oswald;
}

/* ?sectionamazing */

#sectionbestdance {
  background-color: #ff6300;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#sectionbestdance img {
  position: absolute;
  width: 448px;
  left: 0;
  bottom: 0;
  opacity: 0.8;
}

/* *amazing tital */

#bestdancetital {
  font-weight: bold;
  color: white;
  font-size: 40px;
  font-family: oswald;
  margin-left: -67px;
  z-index: 1;
}

/* *amazing discription */

#bestdancediscription {
  z-index: 1;
  color: white;
  width: 70%;
  text-align: start;
  margin-top: 12px;
  margin-left: 88px;
}

/* ?amazingimg */

#bestdancegimg {
  background-image: url(../images/bestdance-section.png);
  height: 100%;
  background-repeat: no-repeat;
  width: 50%;
  background-size: contain;
}

/* !ourstatics section*/

.ourstatics {
  height: 450px;
  background-color: #282828;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ?ourstatetital */

#ourstatetital {
  color: white;
  font-size: 30px;
  font-family: "Oswald";
  font-weight: bold;
  padding-top: 114px;
}

/* ?ourstatediscription */

#ourstatediscription {
  color: white;
  width: 45%;
  text-align: center;
  padding-top: 15px;
  font-size: 13px;
}

/* ?ourstatesection */

#ourstatesection {
  height: 200px;
  width: 100%;
  display: flex;
}

/* *statesevnum */

.statesevnum {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* statesevnum1 */

.statesevnum1 {
  color: white;
  font-size: 27px;
  font-weight: bold;
  font-family: "Oswald";
}

/* statesevnum2 */

.statesevnum2 {
  padding-top: 6px;
  padding-right: 7px;
  color: white;
}

/* !hert beat simon section */

.hertbeatsimon {
  background-image: url(../images/red-section.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 678px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ?hertbeatdiscription */

#hertbeatdiscription {
  color: white;
  width: 51%;
  font-size: 24px;
  text-align: center;
}

/* ?hertbeattital */

#hertbeattital {
  color: white;
  padding-top: 34px;
  font-family: "Oswald";
  font-size: 33px;
}

/* !subscribe section */

.subscribesec {
  background-image: url(../images/subscibe-section.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ff6300;
  display: flex;
  flex-direction: column;
  height: 390px;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* ?subscribe tital */

#subscribetital {
  color: white;
  font-size: 47px;
  font-family: "Oswald";
  font-weight: 600;
  z-index: 1;
}

/* ?subscribe discription */

#subscribediscription {
  color: white;
  font-size: 16px;
  padding-top: 27px;
  width: 80%;
  text-align: center;
  z-index: 1;
}

/* ?subscribe form*/

#subscribeform {
  display: flex;
  padding-top: 40px;
  z-index: 1;
}

/* *subscribe input btn*/

#subsinputbtn {
  padding: 9px 152px;
  text-align: start;
  padding-left: 20px;
  font-size: 16px;
  color: #282828;
  border-style: none;
}

/* *subscribesec btn*/

.subssecbtn {
  padding: 6px 32px;
  border-radius: 0px 3px 3px 0px;
  background-color: #282828;
}

/* !footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  height: 339px;
}

/* ?footerr */

.footerr {
  margin: 40px;
  height: 190px;
  display: flex;
  gap: 42px;
}

/* ?icons */

#iconfooter {
  padding-top: 23px;
  width: 127px;
  height: 55px;
}
#iconfooter ul {
  display: flex;
  padding: 0px;
}
#iconfooter ul a {
  padding: 0px;
}
.iconfootsocial {
  height: 24px;
  width: 24px;
  background: none;
  background-repeat: no-repeat;
  padding: 15px;
}
#iconn-insta {
  background-image: url(../images/insta-icon.png);
}
#iconn-fb {
  background-image: url(../images/fbr-icon.png);
}
#iconn-twitter {
  background-image: url(../images/twiter-icon.png);
}
#iconn-whatsapp {
  background-image: url(../images/whatsaap-icon.png);
}

/* ?tital */

.titalfootsec {
  color: white;
  font-size: 24px;
  font-family: oswald;
  letter-spacing: 1px;
}

/* ?discription */

.discriptionfootsec {
  color: #bdbdbd;
  font-size: 14px;
  padding-top: 12px;
  width: 85%;
}

/* ?linklist */

.footlinklist {
  font-size: 14px;
}
.footlinklist ul {
  padding: 0px;
  list-style: none;
}
.footlinklist ul li {
  padding-top: 10px;
}
.footlinklist ul li a {
  text-decoration: none;
  color: #bdbdbd;
}

/* *musicology */

#musicologysec {
  width: 39%;
}